
game

{{phones}}

<div class="row">
    <h1>
        <span ng-repeat="char in word track by $index" style="text-decoration: underline">{{char}}</span>
    </h1>

    <div class="col-md-9 col-xs-12">

    </div>

    <div class="col-md-3 col-xs-12">
        <h2>Alphabet</h2>
        <div class="alphabet">
            <button ng-repeat="(char, enabled) in alphabet" class="btn btn-sm" ng-disabled="!enabled" ng-click="onGuess(char)">
                {{char}} {{enabled}}
            </button>

        </div>
    </div>
</div>
