
<h1> Statistics </h1>

<div class="col-xs-12 col-md-8" ng-repeat="(userSession, games) in statistics.games">

    <div class="panel panel-default " >
        <!-- Default panel contents -->
        <div class="panel-heading">User session {{userSession}}</div>

        <!-- Table -->
        <table class="table">
            <thead>
                <tr>
                    <th>GameID</th>
                    <th>Word</th>
                    <th>Guesses</th>
                    <th>Started</th>
                    <th>Finished?</th>
                    <th>Won?</th>
                </tr>
            </thead>

            <tr ng-repeat="game in games">
                <td>{{game.id}}</td>
                <td>{{game.word}}</td>
                <td>{{game.chars}}</td>
                <td>{{game.startedAt | date:'medium'}}</td>
                <td>{{game.finished ? "Yes" : "No"}}</td>
                <td ng-class="{'success': game.finished && game.won, 'danger': game.finished && !game.won}">
                    <span ng-show="game.finished">
                        {{game.won ? "Yes" : "No"}}
                    </span>
                </td>

            </tr>
        </table>
    </div>
</div>

