
<h1> Statistics </h1>

{{statistics}}


<div class="panel panel-default" ng-repeat="(userSession, games) in statistics.games">
    <!-- Default panel contents -->
    <div class="panel-heading">User {{userSession}}</div>

    <!-- Table -->
    <table class="table">
        <thead>
            <tr>
                <th>GameID</th>
                <th>Started</th>
                <th>Finished?</th>
                <th>Won?</th>
            </tr>
        </thead>

        <tr ng-repeat="game in games">
            <td>{{game.id}}</td>
            <td>{{game.startedAt}}</td>
            <td>{{game.word == game.chars}}</td>
            <td>{{game.word == game.chars}}</td>

        </tr>
    </table>
</div>
<table class="table table-bordered">
    <tr
</table>